body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
  }
  
  .language-select-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .language-select-container:hover {
    transform: scale(1.05);
  }
  
  .language-select-container h1 {
    text-align: center;
    color: #333;
    font-weight: 300;
  }
  
  .language-select-container label {
    display: block;
    margin-top: 20px;
    font-weight: 500;
  }
  
  .language-select-container select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  }
  
  .language-select-container button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .language-select-container button:hover {
    background-color: #0056b3;
  }