.language-select-container {
  padding: 5px;
  background-color: #fff;
  margin: 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 280px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.selectCtn {
  width: 224px;
  align-self: center;
}

.language-select-container select {
  height: fit-content;
  width: 224px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  appearance: none; /* Remove default arrow in some browsers */
  background-image: url('/img/down.png'); /* Add another icon with linear gradient */
  background-size:
    24px 24px,
    100% 100%;
  background-position:
    right 8px center,
    right -15px center;
  background-repeat: no-repeat, no-repeat;
}
.logo {
  width: 86px;
  height: 79px;
  flex-shrink: 0;
  align-self: flex-start; /* Align to the top */
}
.translate-from {
  margin: 1;
  width: 224px;
  height: 56px;
  flex-shrink: 0;
}
.translate-to {
  width: 224px;
  height: 55px;
  flex-shrink: 0;
}

.footer-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  width: 70px;
  /* aspect-ratio: 1; */
  /* flex-shrink: 0; */
  color: #4b4b4b;

  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-container {
  padding-top: 20px;
  height: 24px;
  display: flex;
  justify-content: center;
}
.scaler-logo {
  width: 64px;
  height: auto;
  flex-shrink: 0;
}

.language-select-container h1 {
  text-align: center;
  color: #333;
  font-weight: 300;
}

.language-select-container label {
  display: block;
  margin-top: 20px;
}

.language-select-container select {
  appearance: none;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #e7e7e7;
  border-radius: 0px;
}

#translateButton {
  margin-top: 15px;
  width: 122px;
  height: 30px;
  flex-shrink: 0;
  border: 1px solid rgba(67, 101, 190, 0.5);
  background: #113caf;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#translateButton:hover {
  background-color: #113baf9a;
}
#translateButton:disabled {
  background-color: #979797;
}
.footer-ctn {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

label {
  color: #5a5a5a;
  font-size: 12px;
  font-weight: bolder;
  line-height: normal;
}
#loading-img {
  height: 30px;
  width: 30px;
  transform: rotate(0deg);

  animation: rotateAnimation 2s linear infinite;
}

@keyframes rotateAnimation {
  to {
    transform: rotate(360deg);
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: center;
}

.checkbox-container label {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  width: 100%;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 1rem;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.reset-btn {
  margin-top: 10px;
  border: none;
  outline: none;
  width: 40px;
  height: auto;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  background-color: white;
}

.reset-btn img {
  width: 100%;
  height: 100%;
}
